---
layout: default
---

<style>
  ul.pager { text-align: center; list-style: none; }
  ul.pager li {display: inline;border: 1px solid #007A33; padding: 10px; margin: 5px;}
</style>

<div class="home">
  
  {%- if page.title -%}
    <h1 class="page-heading" style="color:#007A33;">{{ page.title }}</h1>
  {%- endif -%}
  
  <!--
  {% for item in site.data.nav.docs %}
    <li>
        <a href="{{ item.url | absolute_url }}">{{ item.title }}</a>
    </li>
  {% endfor %}
  -->

  {{ content }}

  <ul class="post-list">
    <!-- 
        Here is the main paginator logic called.
        All calls to site.posts should be replaced by paginator.posts 
    -->
    {% for post in paginator.posts %}
      <li>
        <h2>
          <a class="post-link" style="color:#007A33;" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <span class="post-excerpt">{{ post.excerpt }}</span>
      </li>
    {% endfor %}
  </ul>
  <!-- 
    Showing buttons to move to the next and to the previous list of posts (pager buttons).
  -->
  {% if paginator.total_pages > 1 %}
  <ul class="pager">
      {% if paginator.previous_page %}
      <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; See More Recent</a>
      </li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">See Older &rarr;</a>
      </li>
      {% endif %}
  </ul>
  {% endif %}
</div>
{% include advertisements.html %}
